<div class="container">
	<div id="title"><h1>Topic Feed</h1></div>
<div id="main">

  <%= link_to topics_html5_path do %>
    <div class="div">
      <div id="pic1"><%= image_tag "html.png" %></div>
    </div>
  <%end%>

  <%= link_to topics_css3_path do %>
    <div class="div">
      <div id="pic2"><%= image_tag "css3.png" %></div>
    </div>
  <%end%>
  
  <%= link_to topics_js_path do %>
    <div class="div">
      <div id="pic3"><%= image_tag "js.png" %></div>
    </div>
  <%end%>
  
  <%= link_to topics_ruby_path do %> 
    <div class="div">
      <div id="pic4"><%= image_tag "ruby.png" %></div>
    </div>
  <%end%>

  <%= link_to topics_rails_path do %>
    <div class="div">
      <div id="pic5"><%= image_tag "rails.png" %></div>
    </div>
  <%end%>

  <%= link_to topics_everythingelse_path do %>
    <div class="div">
      <div id="pic6"><%= image_tag "clown.png" %>
    </div>
  <%end%>

</div>