<div class="container">
	<div id="title"><h1>Topic Feed</h1></div>

  <div id="main">

    <div>
      <%= link_to posts_html5_path do %>
        <div class="div">
          <div><%= image_tag "topics/html5.png" %></div>
        </div>
      <%end%>

      <%= link_to posts_css3_path do %>
        <div class="div">
          <div><%= image_tag "topics/css.png" %></div>
        </div>
      <%end%>
      
      <%= link_to posts_js_path do %>
        <div class="div">
          <div><%= image_tag "topics/js.png" %></div>
        </div>
      <%end%>
    </div>

    <div>
    <%= link_to posts_ruby_path do %> 
      <div class="div">
        <div><%= image_tag "topics/ruby.png" %></div>
      </div>
    <%end%>

    <%= link_to posts_rails_path do %>
      <div class="div">
        <div><%= image_tag "topics/rails.png" %></div>
      </div>
    <%end%>

    <%= link_to posts_everythingelse_path do %>
      <div class="div">
        <div><%= image_tag "topics/clown.png" %>
      </div>
    <%end%>
    </div>
    <br clear="all" />
</div>