<div id="title"><h1>Topic Feed</h1></div>

<div id="main">
<div class="div"><%= image_tag "HTML5.png" %></div>
<div class="div"><%= image_tag "css3.png" %></div>
<div class="div"><%= image_tag "js.png" %></div>
<div class="div"><%= image_tag "ruby.png" %></div>
<div class="div"><%= image_tag "rails.png" %></div>
<div class="div"><%= image_tag "donkey.png" %></div>
</div>