<h1>Welcome to the <%= @topic.body %> board</h1>

	<%= render 'form' %>

<ul>
<% @posts = Post.all %>
<% @posts.each do |post| %>

	<li><%= post.body %></li>


 		<% post.comments.each do |comment| %><br/>
      
  		<li>
        <%= comment.body %>
      </li>
      <br/>
  	
  <%end%>

  <%= form_for Comment.new, url: post_comments_path(post.id) do |f| %>
    <%= f.text_field :body %> 
    <%= f.submit %>
  <% end %>

<%end%>
</ul>