<div class="container1">
  <div class="title"><h1>Welcome to the JS board</h1></div>
</div>
<div class="form">
  <%= render 'form' %>
</div>

<div class="feed">
<div id="feed_title"><h1>Feed</h1></div>

<% @posts = Post.all %>
<% @posts.each do |post| %>
 <div class="card"> 
  <div class="post"><%= post.body %></div><br />
  <div class="time"><%= post.created_at.strftime("posted at %I:%M%p on %m/%d/%Y by
   #{post.user.username}")%></div>
  
    <% post.comments.each do |comment| %><br />
      
    <div class="post"><%= comment.body %></div><br />
    <div class="time"><%= comment.created_at.strftime("commented at %I:%M%p on %m/%d/%Y by
         #{comment.user.username}")%></div>
  <%end%>

    <%= form_for Comment.new, url: post_comments_path(post.id) do |f| %>
    <%= f.text_area :body, class: "comment_form", autofocus: true, placeholder: "Comment..." %> 
    <%= f.submit class: "commentBtn" %>
  <% end %>
  </div>
<%end%>

</div>