
<div class="container">

	<h1>Your Profile Page</h1>

	<div class="profile">

		<%= image_tag @user.avatar.url(:medium) %>

	</div>

	<div class="profile1">
		<%= link_to "Edit profile", edit_user_path, :style => "color:darkblue" %>
		<h2>Hiya <%= @user.username %></h2>


		<h3><%= @user.email %></h3>

		<p><strong>First Name: </strong><%= @user.fname %></p>
		<p><strong>Last Name: </strong><%= @user.lname %></p>
		<p><strong>Location: </strong><%= @user.location %></p>
		<p><strong>GitHub: </strong><%= @user.github_link %></p>


		<%= button_to "Delete my account", user_registration_path, data: { confirm: "Are you sure?" }, :method => :delete %>

	</div>
</div>
