<!DOCTYPE html>
<html>
<head>
  <title>Fellow Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	
	<header>

	<% if current_user %>
	  <p class="logged_in">Waddup <%= current_user.username %>!? |
	    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
	  </p>
	<% else %>
		<p class="logged_in">
		<%= link_to 'sign in', new_user_session_path %> |
		<%= link_to 'sign up', new_user_registration_path %>
		</p>
	<% end %>
	
	<hr>
	</header>
		<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
<%= yield %>

</body>

</html>
