<!DOCTYPE html>
<html>
<head>
  <title>Fellow Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

	<header>

	<% if current_user %>
	  <p class="logged_in">Waddup <%= current_user.username %>!? |
	    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, :style => "color:white"  %>
	  </p>
	<% else %>
		<p class="logged_in">
		<%= link_to 'sign in', new_user_session_path, :style => "color:white" %> |
		<%= link_to 'sign up', new_user_registration_path, :style => "color:white" %>
		</p>
	<% end %>
		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<!-- <hr> -->

	<% if !current_page?('/') && current_user %>

	<nav class="nav">
		<ul>
			<li><%= link_to 'My Profile', user_path(current_user) %></li>
			<li><%= link_to 'Jobs', jobs_path %></li>
			<li><%= link_to 'Forum', topics_path %></li>
		</ul>
	</nav>

	<% end %>


	</header>

<%= yield %>

</body>

</html>
